#B3 {
	position:relative;
	border:5px solid #9cf;
}

#B3-controls {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	background-color:#efefef;
}
#B3-controls-titlebar {
	position:absolute;
	top:0;
	right:0;
	left:0;
	border-bottom:3px solid #9cf;
}
#B3-controls-titlebar a,
#B3-controls-titlebar span {
	display:inline-block;
	padding:.2em 0;
	text-align:center;
}
#B3-controls-titlebar a {
	width:13%;
	cursor:pointer;
}
#B3-controls-titlebar span {
	width:5%;
	color:#000;
	cursor:default;
}
#B3-controls-titlebar a:hover {
	background-color:#def;
	text-decoration:none;
}
#B3-controls-titlebar a.hilighted,
a.hilighted + span.B3-titlebar-arrow {
	background-color:#9cf !important; /* overrides #B3-controls-titlebar a.disabled:hover */
	color:#fff !important; /* overrides #B3-controls-titlebar span (el.class + el.class apparently isn't very specific) */
}
#B3-controls-titlebar a.disabled {
	color:#999 !important; /* overrides #B3-controls-titlebar a.hilighted */
}
#B3-controls-titlebar a.disabled:hover {
	background:none;
	cursor:default;
}
#B3-controls-titlebar a.active {
	color:#fc3 !important; /* overrides #B3-controls-titlebar a.hilighted */
}
#B3-controls-titlebar-settings {
	float:right;
}
#B3-controls-windows {
	position:absolute;
	bottom:0;
	right:0;
	left:0;
	overflow-x:hidden;
}
#B3-controls-windows > div {
	position:absolute;
	display:none;
	width:100%;
	height:100%;
	overflow-y:auto;
}

#B3-controls-windows > div > form {
	margin:1em;
}

#B3-controls-windows-actions legend {
	background-color:inherit;
	font-size:150%;
}
#B3-controls-windows-actions a {
	cursor:pointer;
}
#B3-targets-next,
#B3-params-ready,
#B3-run-confirm {
	display:block;
	margin-top:2em;
	padding:.5em 0;
	font-size:150%;
	background-color:#9cf;
	text-align:center;
	text-decoration:none;
	cursor:pointer;
}
#B3-run-confirm {
	cursor:default;
}
#B3-run-confirm a {
	text-decoration:none;
	cursor:pointer;
}
#B3-run-back {
	float:left;
	margin-left:.5em;
}
#B3-run-run {
	float:right;
	margin-right:.5em;
}

#B3-resize {
	position:absolute;
	top:0;
	bottom:0;
	width:5px;
	cursor:col-resize;
	background-color:#9cf;
}

#B3-queue {
	position:absolute;
	top:0;
	bottom:0;
	right:0;
	width:20em;
	background-color:#ddd;
}
#B3-queue-active {
	position:absolute;
	top:1em;
	right:1em;
	left:1em;
	height:10em;
	margin:0;
	padding:.5em;
	background-color:#efefef;
	border:1px solid #000;
	overflow-x:hidden;
	overflow-y:auto;
}
#B3-queue-resize {
	position:absolute;
	right:1em;
	left:1em;
	height:5px;
	cursor:row-resize;
}
#B3-queue-waiting {
	position:absolute;
	bottom:1em;
	right:1em;
	left:1em;
	margin:0;
	padding:.5em;
	background-color:#ccc;
	border:1px solid #000;
	overflow-x:hidden;
	overflow-y:scroll;
}